@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Futura PT Bold";
  src: url("../fonts/FuturaPT-Bold.ttf");
  font-weight: 700;
}

/*------Обнуление------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

nav,
footer,
header,
aside {
  display: block;
}

button {
  padding: 0;
  border: none;
  background: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  font-family: "Futura PT Book", sans-serif;
}

/*------Навигация------*/

#header {
  position: relative;
  width: 100%;
}
.nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding-top: 48px;
  transition: 0.2s;
  background-image: url(../main-page-bg-promo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.container {
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.nav-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: 0.2s;
  margin-bottom: 277px;
}
.nav-logo img {
  cursor: pointer;
}
.nav-form-wrapper {
  position: relative;
}
.nav-form {
  position: relative;
  z-index: 4;
  padding-right: 75px;
}
.nav-submit {
  position: absolute;
  top: 50%;
  left: 17px;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  cursor: pointer;
}
.nav-submit i {
  width: 14px;
  height: 14px;
}
.nav-search {
  width: 400px;
  height: 30px;
  padding-left: 42px;
  padding-right: 10px;
  outline: 0;
  background: #fff;
  border-radius: 15.5px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 500;
  transition: border 0.2s;
}
.nav-icons {
  display: flex;
  align-items: center;
}
.nav-cart-btn {
  position: relative;
  z-index: 7;
  display: flex;
  align-self: center;
  margin-right: 35px;
  transition: 0.3s;
  cursor: pointer;
}
.nav-burger {
  position: relative;
  z-index: 5;
  display: block;
  width: 26px;
  height: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

/*------Меню боковое------*/
.header-menu-window {
  width: 346px;
  min-height: 550px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 74px 10px 20px 62px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transition: all 0.8s ease 0s;
  transform: translate(0px, -100%);
}
.header-menu-window:target {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0);
}
.header-cart {
  cursor: pointer;
}
.header-flex-content {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 48px;
}
.header-flex-content span {
  font-family: "Futura PT Book", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.header-menu-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header-list-bikes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}
.header-menu-bikes {
  font-family: "Futura PT Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.header-menu-bikes:hover {
  border-bottom: 1px solid #000;
  display: inline;
}
.header-list-navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}
.header-menu-navigation {
  font-family: "Futura PT Book", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.header-menu-navigation:hover {
  border-bottom: 1px solid #000;
  display: inline;
}
.social-link-header {
  display: flex;
  gap: 10px;
  font-family: "Futura PT Book", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
/*------Промо баннер------*/

.promo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.promo-container {
  padding-top: 150px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 230px;
}
.promo-title {
  margin-bottom: 20px;
  color: #fff;
}
.main-title {
  font-family: "Futura PT Bold", sans-serif;
  font-weight: 700;
  font-size: 64px;
}
.promo-title-small {
  font-family: "Futura PT Book", sans-serif;
  display: block;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo-btn {
  font-family: "Futura PT Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  align-self: flex-start;
  padding: 6px 26px;
  text-transform: uppercase;
}
.promo-btn:hover {
  background-color: #fff;
  color: #000;
}
.btn-link-black {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  color: #fff;
  background-color: #000;
  border: 3px solid #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
}

/*------Категории------*/

.category {
  padding-top: 120px;
  margin-bottom: 168px;
}
.category-title {
  margin-bottom: 29px;
}
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
  padding: 0;
  z-index: 1;
}
.swiper-control {
  width: 16px;
  height: 33px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}
.slide-title {
  font-family: "Futura PT Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: transparent;
  -webkit-text-stroke: 0.5px white;
}
.category-img {
  display: inline-block;
  width: 378px;
  height: 184px;
  object-fit: contain;
}
.next-btn {
  right: 99px;
}
.prev-btn {
  left: 99px;
}
.category-img-prev {
  max-width: 233px;
  width: 100%;
  height: 320px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.category-img-next {
  max-width: 346px;
  width: 100%;
  height: 320px;
}
.swiper-slide-main {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.62) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../img/category/main-back.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

/*------Категории------*/

#favorite {
  padding-bottom: 157px;
}
.swiper-slide {
  max-width: 707px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 41px 171px 49px 158px;
}
.swiper-slide a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.favorite-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.favorite-title {
  margin-bottom: 30px;
}
.favorite-main {
  max-width: 746px;
  width: 100%;
  height: 450px;
  padding: 60px 70px;
  color: #fff;
  text-align: right;
  background: #000;
  position: relative;
  text-decoration: none;
  transition: all 0.3s;
}
.favorite-main-img {
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}
.favorite-main-title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
}
.favorite-main-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.favorite-btn {
  position: absolute;
  bottom: 20px;
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}
.favorite-main-subtitle:hover {
  border-bottom: 1px solid white;
  display: inline;
}
.favorite-items {
  display: flex;
  flex-direction: row;
  gap: 17px;
  flex-wrap: wrap;
}
.favorite-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.favorite-sub-item {
  max-width: 243px;
  width: 100%;
  max-height: 208px;
  padding: 28px 54px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
}
.favorite-sub-item > span {
  color: inherit;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  border-bottom: 1px solid transparent;
}
.favorite-sub-item span:hover {
  border-bottom: 1px solid white;
}

/*------Инфо------*/

.streetster-discrabe {
  width: 100%;
  min-height: 275px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 50px 0px;
  margin-bottom: 83px;
}
.info-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: justify;
  margin-top: 35px;
}
.streetster-discrabe span {
  text-transform: uppercase;
  font-family: "Futura PT Bold";
  font-size: 24px;
}
.info-text:first-child {
  margin-top: 0;
}

/*------О велосипедах------*/

.about-title {
  text-align: center;
  margin-bottom: 160px;
}
.sub-title {
  color: #000;
  font-family: "Futura PT Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
}
.about {
  margin-bottom: 170px;
}
.about-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
}
.about-cart-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 57px 18px 22px;
  background-color: #f2f2f2;
  text-align: center;
}
.about-cart-image {
  position: absolute;
  top: -90px;
  left: 50%;
  width: 133px;
  height: 133px;
  object-fit: contain;
  transform: translateX(-50%);
}
.about-cart-title {
  font-family: "Futura PT Bold", sans-serif;
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 700;
}
.text {
  font-family: "Futura PT Book", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

/*------Новости------*/

.news {
  margin-bottom: 90px;
}
.news-title {
  margin-bottom: 60px;
  text-align: center;
}
.news-posts-wrp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 63px;
  position: relative;
}
.news-post {
  min-height: 558px;
  width: 338px;
  background-color: #f2f2f2;
  margin: 0 21px 40px 21px;
  position: relative;
  padding-bottom: 70px;
}
.news-post-title {
  font-family: "Futura PT Bold";
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  min-height: 62px;
}
.news-post-text {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin-top: 15px;
}
.news-btn {
  text-transform: uppercase;
  width: 100%;
  height: 53px;
  font-size: 18px;
  font-family: "Futura PT Bold";
  border: 3px solid #000;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  vertical-align: bottom;
  bottom: 0;
  transition: all 0.3s ease 0s;
}
.news-btn:hover {
  background-color: #000;
  color: #fff;
}
.next-btn-news {
  right: 0;
}
.prev-btn-news {
  left: 0;
}

/*------Форма------*/

.mail-form {
  background: url(../img/mail-form/mail-bg.png) 40px 0 / contain no-repeat;
  padding-top: 14%;
  padding-bottom: 15.7%;
}
.mail-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mail-form-title {
  margin-bottom: 25px;
}
.mail-form-form {
  width: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mail-form-input {
  width: 100%;
  margin-bottom: 30px;
}
.input-form {
  display: inline-block;
  height: 40px;
  padding-left: 20px;
  color: #000;
  background-color: transparent;
  border: 3px solid #000;
  outline: 0;
  font-size: 18px;
  font-weight: 400;
}
.mail-form-submit {
  padding: 8px 56px;
}
.btn-link-black {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  color: #fff;
  background-color: #000;
  border: 3px solid #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
}
.btn-link-black:hover {
  background-color: #fff;
  color: #000;
}

/*------Подвал------*/

.footer {
  min-height: 357px;
  background-color: #000;
}
.footer-container {
  padding: 76px 15px 0px 15px;
}
.footer-content-wrp {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px 20px 0px;
}
.footer-logo {
  width: 180px;
  height: 65px;
}
.footer-text-wrp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-top: 22px;
  flex-wrap: wrap;
}
footer * {
  color: #fff;
}
.footer-subtitle {
  font-family: "Futura PT Bold";
  font-size: 18px;
  padding: 0 15px 16px 15px;
}
.footer li {
  padding: 0 15px 20px 15px;
}
.footer ul {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
}
.footer .footer-text:hover {
  border-bottom: 1px solid white;
}
.social-link {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.social-link .fa-brands {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.footer-copyright {
  color: #484848;
  text-align: center;
  font-weight: 450;
  font-size: 18px;
  line-height: 23px;
}

/*------Адаптив------*/
@media (max-width: 1263px) {
  .favorite-main {
    max-width: 670px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .favorite-main {
    max-width: 746px;
  }
  .favorite-row {
    justify-content: center;
    gap: 30px;
  }

  .favorite-sub {
    gap: 5px;
  }
  .favorite-sub-item {
    width: 365px;
    max-width: 365px;
  }
  .third {
    display: none;
  }
  .swiper-slide-next {
    display: none;
  }
  .swiper-slide-prev {
    display: none;
  }
  .swiper-slide {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .nav {
    min-height: 70vh;
  }
  .nav-search {
    width: 300px;
  }
  .nav-form {
    position: relative;
    z-index: 4;
    padding-right: 0px;
  }
  .nav-body {
    margin-bottom: 5px;
  }
  .favorite-row {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  .favorite-items {
    gap: 5px;
    justify-content: center;
  }
  .favorite-sub {
    gap: 5px;
  }
  .favorite-sub-item {
    max-width: 357px;
  }
  .first {
    display: none;
  }
  .about-row {
    grid-gap: 10px;
  }
  .footer-container {
    padding: 15px;
  }
  .footer-content-wrp {
    flex-direction: column;
    padding: 10px 0;
  }
  .footer-subtitle {
    position: relative;
    padding-right: 60px;
    margin-bottom: 0;
    font-size: 14px;
  }
  .footer-subtitle::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 16px;
    height: 16px;
    background: url(../img/footer/sort-down.svg) center/cover no-repeat;
  }

  .footer-content ul {
    display: block;
    overflow: hidden;
    height: auto;
    max-height: 0;
    opacity: 0;
  }
  .footer-text-wrp {
    padding: 0 0;
    margin-top: 14px;
  }
  .social-link {
    margin-top: 12px;
    margin-left: 30px;
  }
  .next-btn-news {
    right: 55px;
  }
  .prev-btn-news {
    left: 55px;
  }
  .main-title {
    font-size: 50px;
  }
  .about {
    margin-bottom: 70px;
  }
  #favorite {
    padding-bottom: 70px;
  }
  .category {
    padding-top: 70px;
    margin-bottom: 80px;
  }
}
@media (max-width: 776px) {
  .container {
    max-width: none;
    text-align: center;
  }

  .main-title {
    font-size: 36px;
  }
  .btn-link-black {
    align-self: center;
  }
  .nav-body {
    margin-bottom: 5px;
  }
  .favorite-sub-item {
    max-width: 351px;
  }
  .favorite-items {
    gap: 35px;
    justify-content: center;
  }
}
@media (max-width: 541px) {
  .about-row {
    grid-template-columns: none;
    grid-gap: 90px;
  }
  .favorite-sub-item {
    max-width: 250px;
  }
  #favorite {
    padding-bottom: 10px;
  }
  .about {
    margin-bottom: 20px;
  }
  .favorite-items {
    gap: 5px;
    justify-content: center;
  }
  .nav-search {
    display: none;
  }
  .nav-submit i {
    color: #fff;
    font-size: 18px;
  }
  .nav-submit {
    left: 8px;
    top: -3px;
  }
}
@media (max-width: 450px) {
  .category-img {
    max-width: 100%;
    height: 130px;
    object-fit: contain;
    margin-bottom: 29px;
  }
  .swiper-slide {
    padding: 30px 0 30px 0;
  }
  .next-btn {
    right: 15px;
  }
  .prev-btn {
    left: 15px;
  }
  .favorite-main {
    height: 210px;
    padding: 20px 20px;
    max-width: 345px;
  }
  .favorite-main-img {
    display: none;
  }
  .mail-form-form {
    width: 230px;
  }
  .news-title {
    margin-bottom: 0px;
  }
  .news-posts-wrp {
    margin-top: 20px;
  }
  .footer li {
    padding: 0 15px 20px 0;
  }
  .favorite-sub-item {
    max-width: 345px;
  }
  .header-flex-content {
    justify-content: space-between;
  }
  .header-menu-window {
    padding: 70px 25px 20px 50px;
  }
  .category {
    padding-top: 10px;
    margin-bottom: 15px;
  }
  .main-title {
    font-size: 28px;
  }
  .streetster-discrabe {
    margin-bottom: 25px;
  }
  .about-title {
    margin-bottom: 100px;
  }
  .news {
    margin-bottom: 5px;
  }
  .social-link {
    margin-top: 12px;
    margin-left: 0px;
  }
  .next-btn-news {
    right: -7px;
  }
  .prev-btn-news {
    left: -7px;
  }
  .sub-title {
    font-size: 28px;
  }
  .footer {
    min-height: 300px;
  }
}
@media (max-width: 281px) {
  .favorite-sub-item {
    max-width: 250px;
  }
}
