@media (max-height: 479.98px) and (orientation: landscape) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .promo-container {
    justify-content: flex-start;
  }
}

@media (max-height: 720px) {
  .promo-container {
    padding-bottom: 100px;
  }
}
@media (max-width: 991.98px) {
  .category {
    padding-top: 60px;
  }
}
